.component__onboarding-stepper {
    &__container {
        width: 100%;
        color: $secondary;
        &__link {
            font-weight: bold;
            &:active {
                color: $secondary;
            }
            &:visited {
                color: $secondary;
            }
        }
    }
    .q-stepper__title {
        font-weight: bold;
    }
}
