.component__forgot {
    max-width: 600px;
    width: 100%;
    margin: auto;
    &__intro-text {
        color:$secondary;
        font-size: 21px;
        margin-bottom: 0px;
        text-align: center;
        & span {
            color: $indigo;
        }
    }
    &__form {
        max-width: 450px;
        margin:0 auto;
        &__section {
            width: 100%;
        }
    }
}
