.component__header {
    position:absolute;
    &__toolbar {
        max-width: 600px;
        &__title {
            font-family: $font-family-titles;
            font-size: 26px;
            color: $indigo;
            margin-bottom: 0;
        }
        &__subtitle {
            color:$secondary;
            font-size: 15px;
            text-align: right;
            margin-top: -5px;
            margin-bottom: 0;
        }
        &__date {
            color: $primary;
            font-weight: bold;
            margin: 5px 0px;
            border-radius: 10px;
            background-color: $indigo;
            width: 100%;
            text-align: center;
        }
    }

}
