@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// app global css in SCSS form
#q-app {
    background-color: rgba($primary, 0.5);
    // background-image:url("../assets/background-marble.jpg");
    min-height: 100vh;
}
.q-separator {
    background: rgb(0 0 0 / 5%);
}

.q-card--bordered {
    border: 1px solid rgba($indigo,0.2);
}
.q-card{
    border-radius: 10px;
}

.disabled, [disabled] {
    opacity: 0.6 !important;
    background-color: $disabled !important;
}

.q-stepper__tab {
    color: $disabled;
}
