.component__home-options-card {
    min-height: 75px;
    border: 1px solid $secondary;
    &__titles{
        color: $indigo;
        font-weight: bold;
        margin-bottom: 4px;
        & span {
            font-weight: normal;
            color: $grey;
        }
    }
    &__avatar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
