.component__home-options-expansion {
    &__list-container {
        &__list-item {
            &__section {
                min-height: 60px;
            }
        }
    }
    &__dialog {
        max-width: 600px !important;
        margin: auto;
    }
}
